<a href="https://colab.research.google.com/github/Khushali-kavathiya/Python_Learning/blob/main/What_kind_of_data_does_pandas_handle_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": ["khushi, miss. kavathiya",
                 "riya, miss. hirapara",
                 "daval, mr. raval"
                ],
        "Age": [22, 21, 19],
        "sex": ["female", "female", "male"]
    }
)

In [ ]:
df

                      Name  Age     sex
0  khushi, miss. kavathiya   22  female
1     riya, miss. hirapara   21  female
2         daval, mr. raval   19    male

We are interestend in working with the data in the Age column.

In [ ]:
df["Age"]

0    22
1    21
2    19
Name: Age, dtype: int64

*Create a series from scratch.*

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")

In [ ]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

*We want to know the maximum Age of the passengers.*

In [ ]:
df["Age"].max()

22

*Maximum age using the Series.*

In [ ]:
ages.max()

58

*We are interested in some basic statistics of numerical data of the data table.*

In [ ]:
df.describe()

             Age
count   3.000000
mean   20.666667
std     1.527525
min    19.000000
25%    20.000000
50%    21.000000
75%    21.500000
max    22.000000